.add-product {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.add-product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-grey-dark;
}

.add-product__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;
}

.add-product__buy {
  @media (min-width: $tablet-width) {
    flex: 0 1 100%;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 auto;
  }
}
