.contacts {
  position: relative;
  background-color: $white;
}

.contacts__wrapper {
  padding: 26px 20px 26px 20px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 56px 70px 56px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50px;
    left: 50px;
  }
}

.contacts__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-light;
  margin: 0;
  flex-basis: 50%;

  @media (min-width: $tablet-width) {
    max-width: 175px;
  }
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
  margin: 0;
  padding-left: 1px;
  flex-basis: 50%;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.contacts__map {
  display: flex;
}
