.footer {
  background-color: $grey;
  width: 320px;
  margin: 0 auto;
  padding: 39px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
    padding: 58px 30px 58px 30px;
  }


  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 58px 110px 58px 110px;
  }
}

.footer__logo {
  margin: 0 auto;
  display: flex;
}
