.main-header {
  background-image: url("/img/index-background-mobile@1x.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 585px;
  }
}

.main-header::before {
  @media (min-width: $desktop-width) {
    content: url("/img/bg-header-desktop.png");
    background-repeat: no-repeat;
    width: 720px;
    height: 694px;
    position: absolute;
    z-index: -5;
    top: 0;
    left: 50%;
    margin-top: -100px;
  }
}

.main-header__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: $black;
    margin-left: 117px;
    padding-top: 62px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    max-width: 430px;
  }
}

.main-header__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $black;
    margin-left: 119px;
  }
}

.main-header__image {
  margin: 0 auto;
  display: flex;
}

.main-header__button {
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 292px;
    left: 120px;
  }
}

