.page-header {
  background-color: $white;
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.page-header__img-logo {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 10px;
}

.page-header__burger-button {
  background-image: url("/img/icon-burger-menu.svg");
  background-repeat: no-repeat;
  background-color: $white;
  padding: 0;
  margin-top: 24px;
  margin-right: 20px;
  border: none;
  width: 24px;
  height: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
