.page-header {
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px 0 110px;
    background-color: none;
  }
}

.page-header__logo {
  min-height: 65px;
}

.page-header__img-logo {
  margin: 10px 10px 12px 20px;
}
